[Desktop Entry]
Version=1.0
Name=Complx
GenericName=Complx
Comment=Emulate LC3
Exec=complx %U
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
X-AppInstall-Package=complx

Path=